.flex {
    display: flex;
}

.f-col {
    flex-direction: column;
}

.f-wrap {
    flex-wrap: wrap;
}

.f-jcc {
    justify-content: center;
}

.f-s-between {
    justify-content: space-between;
}

.f-aic {
    align-items: center;
}

.bold {
    font-weight: bolder;
}